# Ignore Python cache files and folders
__pycache__/
*.pyc

# Ignore test files and folders
tests/

# Ignore local environment files
.env
.env.example

# Ignore Git-related files
.git/
.gitignore

# Ignore documentation files
README.md
