# Ignore Python cache files and folders
__pycache__/
*.pyc

# Ignore local environment files
.env
.env.example

# Ignore SQLite database file
db.sqlite3

# Ignore Git-related files
.git/
.gitignore

# Ignore documentation and README files
README.md
